nav ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    padding: 0;
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #555;
  }
  .img-rounded-shadow {
    border-radius: 15px;        /* lekerekített sarkok */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* halvány árnyék */
  }
  